deta==1.2.0
in_place==0.5.0
openai==0.27.8
Pillow==9.4.0
python-dotenv==1.0.0
st_pages==0.4.3
streamlit==1.25.0
streamlit_analytics==0.4.1
streamlit_authenticator==0.2.2
streamlit_extras==0.2.7
streamlit_option_menu==0.3.6
streamlit_toggle_switch
