

/* span.css-10trblm.eqr7zpz0 {
    position: absolute;
    left: 34%;
} */

/* div.css-1v0mbdj.ebxwdo61 > stImage {
    width: 3;
}

div.css-1xw8zd0.en8akda1 {
    background-color: aliceblue;
} */ 

/* div.css-1v0mbdj.ebxwdo61 > img {
    position: sticky;
    left: 50%;
    text-align: center;
} */