/* CONTROLS --> AI-Powered Picks: Unleashing the Future of Smart Shopping! */
/* h3 {
    
} */

h2 {
    font-size: x-large;
    padding-bottom: 0px;
}

/* CONTROLS --> Description part of colored_header() */
div.css-1wncz92.eqr7zpz4 > p {
    white-space: pre-line;
    font-size: 18px;
    text-align: left;
}

/* CONTROLS -->  */
/* div.css-xvp2ki.esravye0 {
    top: 10px;
} */

div.css-nahz7x.eqr7zpz4 > p {
    /* position: relative; */
    /* background-color: aliceblue; */
    /* left: 100px; */
}

/* CONTROLS --> LOGO AREA */
div.css-79elbk.e1akgbir10 {
    padding: 0px;
    right: -2%;
}




/* CONTROLS MOBILE CSS */
@media only screen and (max-width: 76px) {

    /* div.css-nahz7x.eqr7zpz4 > p {
        /* position: relative; */
        /* background-color: aliceblue; */
        /* left: 100px; */
    /* }  */
}


/* div.stButton > button:nth-child(1) {
    background-color: aliceblue;
} */

/* button.css-19rxjzo.e1ewe7hr5 {
    position: relative;
    left: 150px;
    bottom: 50px;;
} */

/* div.css-tw2vp1.esravye0 {
    background-color: aliceblue;
} */

[data-testid="stVerticalBlock"] {
    margin-top: 0px; /* Adjust the value as needed */
}

[data-testid="block-container"] {
    padding-bottom: 0px;
    padding-top: 10px;
}


  

/* CONTROLS --> ENTIRE PAGE EXCEPT SIDEBAR */
/* div.block-container.css-z5fcl4.e1g8pov64 {
    background-color: aqua;
} */

[id="footer"] {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}


#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}