/* CONTROLS --> AI-Powered Picks: Unleashing the Future of Smart Shopping! */
/* h3 {
    
} */

h2 {
    font-size: x-large;
    padding-bottom: 0px;
}

/* CONTROLS --> Description part of colored_header() */
div.css-1wncz92.eqr7zpz4 > p {
    white-space: pre-line;
    font-size: 18px;
    text-align: left;
}

/* CONTROLS -->  */
/* div.css-xvp2ki.esravye0 {
    top: 10px;
} */

div.css-nahz7x.eqr7zpz4 > p {
    /* position: relative; */
    /* background-color: aliceblue; */
    /* left: 100px; */
}

/* CONTROLS --> LOGO AREA */
div.css-79elbk.e1akgbir10 {
    padding: 0px;
    right: -2%;
}

.data-theme {
    background-color: #ffff;
}


/* CONTROLS MOBILE CSS */
@media only screen and (max-width: 76px) {

    /* div.css-nahz7x.eqr7zpz4 > p {
        /* position: relative; */
        /* background-color: aliceblue; */
        /* left: 100px; */
    /* }  */
}


/* div.stButton > button:nth-child(1) {
    background-color: aliceblue;
} */

/* button.css-19rxjzo.e1ewe7hr5 {
    position: relative;
    left: 150px;
    bottom: 50px;;
} */

/* div.css-tw2vp1.esravye0 {
    background-color: aliceblue;
} */

[data-testid="stVerticalBlock"] {
    margin-top: 0px; /* Adjust the value as needed */
}

[data-testid="block-container"] {
    padding-bottom: 0px;
    padding-top: 10px;
}

.element {
    color: white;
    background-color: transparent;
    text-align: center;
}

.element a:link {
    display: inline-block;        
    text-decoration: none;
    filter: invert(50%);    
}

.element a:hover, a:active {
    color: #FF4B4B;
    /* color: rgb(61, 213, 109);   */
    mix-blend-mode: none;
    filter: opacity(100%);
    background-color: transparent;
}

.element a:visited {
    color: #FF4B4B;
    filter: opacity(100%);
}


/* body {
    height: auto;
    overflow: auto;
} */
  

/* CONTROLS --> ENTIRE PAGE EXCEPT SIDEBAR */
 /* div.block-container.css-z5fcl4.e1g8pov64 {
    background-color: aqua; 
}*/

/* label {
    width:40px;
    height:20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }

  label:after {
    content: "";
    width:16px;
    height: 16px;
    position: absolute;
    top:3px;
    left:1px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
  input {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  input:checked + label {
    background: #242424;
  }
  input:checked + label:after {
    left:40px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  label, label:after {
    transition: 0.3s
  }

  label:active:after{ 
    width: 20px; 
  } */



 /* .stAppViewContainer {
    background-color: #FF4B4B;
} */

/* :root {
    --text-color: #31333F;
    --primary-color: #ff4b4b;
    --secondary-background-color: #f0f2f6;
    --background-color: #ffffff;
}

.stApp {
    background-color: var(--background-color);;
    --primary-color: var(--primary-color);
    --secondary-background-color: var(--secondary-background-color);
    color: var(--text-color);
    --text-color: #31333F;
 }    */















[id="footer"] {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}


MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}